/* DOCUMENT */
body {
    background-color: #ffffff;
    color: #000000;
    margin-left: 2%; 
    margin-right: 2%;
    font-family: Arial, Verdana, Sans-Serif;
	font-size: 0.9em;
    text-align: justify; 
}

td {
    font-family: Arial, Verdana, Sans-Serif;
	font-size: 0.9em;
    text-align: justify; 
}

td.valid {
    /*background-color: #90EE90;*/
}

td.invalid {
    background-color: #D0D0D0;
}

h1,h2,h3,h4,h5,h6 {
    color: #000000;
}
h1 {
    font-size: 150%;
}
h2 {
    font-size: 140%;
}
h3 {
    font-size: 130%;
}

/*
p {
  line-height:1.3em;
  margin-bottom:1em;
}*/

a {
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: #000099;
}

a:visited {
    color: #000099;
}

a:hover {
    background-color: #C3FDB8;
}

/*img {
    border: none 0;
}*/


/* ::LISTS */
/*
   ul,ol {
       margin:1em 0 1em 10px; padding-left:8px;
   }
   li {
       line-height:1.3em;
       margin-bottom:1em;
       list-style-type:none;
   }
   li:before{
       content: "~ ";
       font-weight:bold;
   }
*/


#footer {
    clear: both;
    background: #CCCCCC;
    color: #000000;
    font-size: 0.9em;
    text-align: justify;
    margin:0 auto;
	padding: 10px 10px 10px 10px;
}

#header {
    clear: both;
    background: #CCCCCC;
    color: #000000;
    margin:0 auto;
	padding: 10px 10px 10px 10px;
}

#list {
    clear: both;
    background: #E0E0E0;
    color: #000000;
    font-size: 0.8em;
    text-align: justify;
    margin:0 auto;
	padding: 1px 1px 1px 1px;
    margin-left: 0; 
    margin-right: 0;
}
